.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}
.dropdown-menu a {
    color: #007bff;
}
.header-text {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
    color: #007bff;
}
.card {
    border-radius: 15px;
    border-color: #007bff;
    margin-bottom: 20px;
}
.card-title, .card-text, .card-price {
    color: #007bff;
}
.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.category-bar {
    text-align: center;
    margin: 20px 0;
}
.category-bar a {
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
}

.category-bar a:hover {
    text-decoration: underline;
}