@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jura:wght@300..700&display=swap');

.navbar {
    background: #FE6C19;
    font-family: "Inter", sans-serif;
    font-size: 18px;
  }

.navbar-brand img{
    width: 60px;
    height: 60px;
}

.nav-item {
    margin-inline: 20px; 
  }

.dropdown-menu a {
    color: #007bff;
}

.btn-w{
    background-color:#FE6C19;
    color: #ffffff;
  }
  .btn-w:hover{
    background-color: #ff5e00;
    color:#ffffff
  }



  .btn-group{
    color: #ffffff;
  }


.header-text {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
    color: #007bff;
    font-family: "Jura", sans-serif;
}
.card {
    border-radius: 15px;
    border-color: #007bff;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}
.card:hover {
    transform: translateY( 0px) scale(1.05);
}
.card-title, .card-text, .card-price {
    color: #007bff;
}
.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.btn-info {
    background-color: #2BB9E5;
    border-color: #2BB9E5;
    color:#ffffff
}
.category-bar {
    text-align: center;
    margin: 30px 0;
}
.category-bar a {
    margin: 0 -3px;
    color: #ffffff;
}

.category-bar a:hover {
    text-decoration: underline;
}

footer img{
    height: 150px;
    width: 150px;
}

footer{
    background-color: #646159;
}

footer .copyright{
    background-color: black;
}

.banner img{
    width: 100%;
}