@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jura:wght@300..700&display=swap');

/* Estilos de menú de navegación */
.navbar {
    background: #FE6C19;
    font-family: "Inter", sans-serif;
    font-size: 18px;
  }

.navbar-brand img{
    width: 60px;
    height: 60px;
}

.nav-item {
    margin-inline: 20px;
  }

  /* Estilos de banner */
.banner img{
    width: 100%;
}

 /* Estilos de formulario */
.contact img{
    width: 200px;
    height: 200px;
}

.form{
    background-color: #2952BB;
    border-radius: 10px;
    color: white;
}

::placeholder{
    color: #807070;
    font-size: 12px;
    font-family: "Inter", sans-serif;
}

.form button{
    background-color: white;
    color: #2940BB;
    border-radius: 5px;
}

.form button:hover{
    background-color: #FE6C19;
    color: white;
}
