@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jura:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #FE6C19;

}
.logo-menu{
    height: 60px;
    width: 60px;
    align-items: center;
}
  
.header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Inter", sans-serif;

}

.header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    display: block;
}

a:hover{
    background: #2940BB;
}

.header nav ul li ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #FE6C19;
    display: none;
}

.header nav ul li:hover >ul{
    display: block;

}

footer{
    width: 100%;
    background-color: #646159;
}


.footer .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.footer .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .grupo-1 .box figure img{
    width: 200px;
}

.footer .grupo-1 .box h3{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 15px;
}

.footer .grupo-1 .red-social i{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    border-radius: 60%;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
}

.footer .grupo-1 .red-social i:hover{
    background-color: #2940BB;
    
}

.footer .grupo-2{
    background-color: #1E1D1B;
    color: white;
    padding: 15px 10px;
    text-align: center;
}

.slider-frame{
    width:100%;
    height: auto;
    margin: 0 auto 0;
    overflow: hidden;
    animation: slide 16s infinite alternate ease-in-out;
}

.slider-frame ul{
    display: flex;
    padding: 0;
    width: 400%;
}

.slider-frame li{
    list-style: none;
    width: 100%;
}

.slider-frame img{
    width: 100%;
}

.marcas{
    background-color: #BEF9D9;
    height: 200px;
    padding-top: 25px;
    padding-bottom: 10px;
    margin: 20px auto 20px;
}

.marcas h2{
    padding-bottom: 40px;
    text-align: center;
    font-family: "Jura", sans-serif;
}
.logos-marcas{
    display: flex;
    justify-content: center;
}

.marcas li{
    list-style: none;
}
.marcas img{
    width: 150px;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.mejores-celulares{
    background-color: #BEF9D9;
    height: 400px;
    padding-top: 25px;
    padding-bottom: 10px;
    margin: 20px auto 20px;
}

.mejores-celulares h2{
    padding-bottom: 40px;
    text-align: center;
    font-family: "Jura", sans-serif;
}

.celulares{
    display: flex;
    justify-content: center;
}

.mejores-celulares li{
    list-style: none;
    align-content: center;
}
.mejores-celulares img{
    width: 250px;
    height: 300px;
}

.container-phone{
    background-color: #F8F8F8;
    height: 180px;
    padding-top: 25px;
    padding-bottom: 10px;
    margin: 20px auto 20px;
}

.container-phone h2{
    font-family: "Jura", sans-serif;
    color: #807070;
    text-align: center;
    padding: 20px;
    
}
.container-phone p{
    font-family: "Jura", sans-serif;
    color: #807070;
    text-align: center;
    padding-bottom: 20px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn button{
    background-color: #FE6C19;
    border-radius: 10px;
}


.container-nosotros{
    font-family: "Jura", sans-serif;
    color: #807070;
    text-align: center;
}

.container-vs{
    font-family: "Jura", sans-serif;
    display: flex;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.vision{
    background-color: #F8F8F8;
    margin-right: 15px;
}

.mision{
    background-color: #F8F8F8;
    margin-left: 15px;
}
.container-vs h2{
    color: #807070;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.container-vs p{
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 30px;
}

.container-valores{
    font-family: "Jura", sans-serif;
    background-color: #F8F8F8;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-valores h2{
    color: #807070;
    text-align: center;
}
.colum-1{
    display: flex;
    text-align: center;
    justify-content: center;
}

.colum-2{
    display: flex;
    text-align: center;
    justify-content: center;
}

.container-valores h3{
    text-align: center;
    color: #807070;
    padding: 20px;
    margin-left: 140px;
    margin-right: 150px;
}

