@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jura:wght@300..700&display=swap');

/* Estilos de menú de navegación */
.navbar {
    background: #FE6C19;
    font-family: "Inter", sans-serif;
    font-size: 18px;
  }

.navbar-brand img{
    width: 60px;
    height: 60px;
}

.nav-item {
    margin-inline: 20px; 
  }

/* Estilos de fondo de secciones */
.bg-custom{
    background-color: #BEF9D9;
}

/* Estilos de títulos y parrafos */
h2 , p{
    font-family: "Jura", sans-serif;
}

/* Estilos de imagenes */
.marcas img{
    width: 120px;
    height: 120px;
}

.celulares img{
    width: 250px;
    height: 250px;
}

.col img{
    width: 350px;
    height: 350px;
}

.phone button{
    background-color: #FE6C19;
    color: white;
    border-radius: 5px;
}

.phone button:hover{
    background-color: #ff5e00;
}

.phone .row{
    align-items: center;
}

.phone img{
    border-radius: 10px;
}

.valor img{
    width: 150px;
    height: 150px;
}

/* Estilos de footer */
footer img{
    height: 150px;
    width: 150px;
}

footer{
    background-color: #646159;
}

footer .copyright{
    background-color: black;
}

