@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #FE6C19;

}
.logo-menu{
    height: 60px;
    width: 60px;
    align-items: center;
}
  
.header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Inter", sans-serif;

}

.header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    display: block;
}

a:hover{
    background: #2940BB;
}

.header nav ul li ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #FE6C19;
    display: none;
}

.header nav ul li:hover >ul{
    display: block;

}

footer{
    width: 100%;
    background-color: #646159;
}


.footer .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.footer .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .grupo-1 .box figure img{
    width: 200px;
}

.footer .grupo-1 .box h3{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 15px;
}

.footer .grupo-1 .red-social i{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    border-radius: 60%;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
}

.footer .grupo-1 .red-social i:hover{
    background-color: #2940BB;
    
}

.footer .grupo-2{
    background-color: #1E1D1B;
    color: white;
    padding: 15px 10px;
    text-align: center;
}

@media(max-width:991px)
{
    
}
    