@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jura:wght@300..700&display=swap');

body{
    font-family: "Jura", sans-serif;

}
/* Estilos de menú de navegación */
.navbar {
    background: #FE6C19;
    font-family: "Inter", sans-serif;
    font-size: 18px;
  }

.navbar-brand img{
    width: 60px;
    height: 60px;
}

.nav-item {
    margin-inline: 20px; 
  }

/* Estilos de las letras */
h2, h3, p, li {
    color: #2940BB; 
}

/* Estilos de los circulos*/
.bx{
    border-radius: 50%;
    background-color: #FE6C19;
    border: #2940BB;
    width: 50px;
    height: 50px;
    color: aliceblue;
    margin-right:20px;
}

/* Estilos de los botones */
.btn-w{
    background-color: #FE6C19;
    color: #ffffff;
    margin-left: 20%;
    margin-right: 20%;
}

.btn-w:hover{
    background-color: #ff5e00;
    color:#fff
}

.btn{
    font-family: "Inter", sans-serif;
    width: 150px;
}


/* Estilos del footer */
footer img{
    height: 150px;
    width: 150px;
}

footer{
    background-color: #646159;
    font-family: "Inter", sans-serif;
}

footer .copyright{
    background-color: black;
}
.tox{
    color: #ffffff; 
}