body {
    font-family: Arial, sans-serif;
    color: #2940BB;
}

.navbar{
        background: #FE6C19;
        font-family: "Inter", sans-serif;
        font-size: 18px;
      }
    
.navbar-brand img{
        width: 60px;
        height: 60px;
    }
    
.nav-item {
        margin-inline: 20px; 
      }
.hero-image {
    width: 100%;
    height: 500px;
    background-image: url('https://via.placeholder.com/1200x500');
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}
.map-container {
    height: 400px;
}
.map-info {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}

footer img{
    height: 150px;
    width: 150px;
}

footer{
    background-color: #646159;
}

footer .copyright{
    background-color: black;
}