@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jura:wght@300..700&display=swap');

body {
    font-family: "Jura", sans-serif;
    color: #2940BB;
}

.btn{
    font-family: Arial, sans-serif;
}

.navbar{
        background: #FE6C19;
        font-family: "Inter", sans-serif;
        font-size: 18px;
      }
    
.navbar-brand img{
        width: 60px;
        height: 60px;
    }
    
.nav-item {
        margin-inline: 20px; 
      }
.hero-image {
    width: 100%;
    height: 500px;
    background-image: url('https://via.placeholder.com/1200x500');
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}
.map-container {
    height: 400px;
}
.map-info {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}

.btn-w{
    background-color: #FE6C19;
    color:#fff;
    margin-left: 20%;
    margin-right: 20%;
}

.btn-w:hover{
    background-color: #ff5e00;
    color:#fff;
}

h4{
    font-family: "Inter", sans-serif;
}

footer img{
    height: 150px;
    width: 150px;
}

footer{
    background-color: #646159;
    font-family: "Inter", sans-serif;
}

footer .copyright{
    background-color: black;
}